# Production dependencies
fastapi[standard]
uvicorn
pydantic-settings
sqlmodel
psycopg2
pendulum
clerk-backend-api
boto3
moviepy>=1.0.0,<2.0.0
requests
aiohttp
aiofiles
openai
pydantic-extra-types
retell-sdk